body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(6, 6, 112);
}

form {
    border: 5px solid lightblue;
    padding: 50px;
    text-align: center;
}

button {
    display: block;
    margin: 50px auto;
    padding: 20px 40px;
    border: 5px solid lightblue;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(6, 6, 112);
    font-size: 20px;
    font-weight: 800;
}

button:hover {
    background-color: rgba(144, 246, 198, 0.397)
}

label {
    display: block;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 1.2em;
    font-weight: 700;
}

input, textarea {
    border: 3px solid rgba(144, 246, 198, 0.397);
    background-color: rgb(231, 245, 252);
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    padding: 5px;
    color: rgb(6, 6, 112);

}

select {
    font-family: 'Montserrat', sans-serif;
    color: rgb(6, 6, 112);
    font-size: 16px;
    border: 3px solid rgba(144, 246, 198, 0.397);
    background-color: rgb(242, 251, 255);
}

#projectName, #shortDescription, #featuredImage {
    height: 30px;
    width: 420px;
}

#fullDescription {
    height: 200px;
    width: 419px;
}

.languagesUsed, .frameworksUsed {
    border: 5px solid rgba(144, 246, 198, 0.397);
    margin: 50px;
    padding: 0 50px 50px 50px;
}